* {
	margin:0;
	padding:0;
}

img {
	border:0;
}

body {
	background:url("../img/lines/background.gif");
	overflow-y:scroll;
	font:20px Lucida Console, monospace;
	color:#330000;
}

header {
	position:fixed;
	top:40px;
	width:100%;
	height:150px;
	background:url("../img/lines/header.png") no-repeat center, url("../img/lines/background.gif");
}

header h1, header address {
	display:none;
}

nav {
	position:fixed;
	bottom:0;
	width:100%;
	height:80px;
	background:url("../img/lines/background.gif");
	font-size:16px;
}

nav ul {
	display:table;
	margin:30px auto;
	list-style:none;
}

nav li {
	float:left;
	margin-right:20px;
}

li.normal a {
	color:#330000;
	text-decoration:none;
}

li.normal a:hover {
	text-decoration:overline;
}

li.highlight a {
	font-weight:bold;
	color:#330000;
	text-decoration:overline;
}

main {
	margin-top:190px;
	margin-bottom:80px;
	padding:20px 10px;
}

main ul {
	margin-left:20px;
	line-height:32px;
}

main a {
	color:#330000;
	text-decoration:none;
}

main a:hover {
	text-decoration:overline;
}

footer {
	position:fixed;
	top:0;
	width:100%;
	height:40px;
	background:url("../img/lines/background.gif");
	font-size:12px;
}

#styleswitcher {
	float:right;
	margin:6px;
}

#styleswitcher img {
	border:1px solid #330000;
}

#stylecredits {
	float:left;
	margin:4px 6px;
}

#download {
	margin:10px 6px;
}

#download a {
	color:#330000;
	text-decoration:none;
}

#download a:hover {
	text-decoration:overline;
}
